.card-img-top {
    flex-direction: column;
    justify-content: space-evenly;
}

.form-inline {
    align-items: flex-end;
}

.row {
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
}

.topimage {
    justify-content: center;
}

.topimage {
    align-self: stretch;
}