 .column {
      width: 100%;
    }

    .topimage {
        justify-content: stretch;
    }

    .jumbotron {
        justify-content: stretch;
    }
    
    .jumbotron-fluid {
        justify-content: stretch;
    }
    
    .row {
        padding-left: 10rem;
        padding-right: 10rem;

    }